@import './base.css';

html,
body {
  height: 100%;
}

#app {
  padding: 0;
  font-weight: normal;
  height: 100%;
  margin: 0 auto;
  max-width: 425px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: black;
}
